@media screen and (max-width: 1108px) {
    .wrapper{
        width: 90%;
    }
    #social{
        position: absolute;
        top:82 ;
        right: 4px;
    }
}
@media screen and (max-width: 900px){
    body{
        font-size: 85%
    }
    #logo h1{
        height: 35px;
        font-weight: 35px ;
    }
    #logo h2{
    font-size: 2.2em;
    }
    #social{
        position: absolute;
        top: 72px;
    }
    COL-3 P{
        column-count: 2;
    }

} 